<div id="content-wrapper" class="screen">


	<div id="tournament" ng-hide="listTracker.active()">

		<article ng-if="current_tournament">

			<header class="page-header">			
				<div class="row">
					<!-- Page header, center on small screens -->
					<h1 class="col-xs-12 text-center text-left-sm"><strong>{{current_tournament.title}}</strong></h1>
				</div>
			</header>

			<div class="machines">

				<div ng-repeat="machine in current_tournament.machines" class="machine panel panel-default" data-machine-id="{{machine.id}}">
					<header>
						<div class="bg-cover" ng-show="machine.image.length">
							<img ng-src="img/machines/{{machine.image}}" />
						</div>
						<span class="abbv">{{machine.abbv}}</span>
						<h2>{{machine.title}}</h2>
					</header>

					<div class="machine-data" ng-if="machine.scores.length > 0">
						<ul class="list-head">
							<li>
								<span ng-if="current_tournament.machines.length == 1" class="pts">Rank</span>
								<span ng-if="current_tournament.machines.length > 1" class="pts">Pts.</span>
								<span class="player">Player</span>
								<span class="score">Score</span>
							</li>
						</ul>
						<ul
							class="list" 
							ng-style="{height: ((machine.scores.length * 36) + (current_tournament.machines.length == 1 ? 18 : 0) + 'px')}"
						>
							<li 
								ng-repeat="score in machine.scores track by score.player_id"
								ng-style="{
									'transform': 'translate(0px,' + (score.order * 36) + 'px)', 
									'-webkit-transform': 'translate(0px,' + (score.order * 36) + 'px)', 
									'z-index': machine.scores.length - score.order
								}" 
								ng-class="{
									'odd': score.order % 2, 
									'not-qualified': current_tournament.machines.length == 1 && score.order >= current_tournament.cutoff,
									'moving': score.moving == true
								}"
								data-index="{{$index}}"
							>
								<span class="pts">
									<span ng-if="current_tournament.machines.length == 1">{{score.order+1}}</span>
									<span ng-if="current_tournament.machines.length > 1">{{points[score.order]}}</span>
								</span
								><span class="player">{{score.player.first_name}} {{score.player.last_name}}</span
								><span class="score">{{score.score | number:0}}</span>
							</li>

							<li 
								class="cutoff"
								ng-if="current_tournament.machines.length == 1"
								ng-style="{'top': (scores.length >= current_tournament.cutoff ? (36 * current_tournament.cutoff)+'px' : (scores.length * 36)+'px')}"
							>
								Qualified Cutoff
							</li>
						</ul>
					</div>

					<div ng-if="machine.scores.length == 0" class="repeat-empty text-muted">
						Quick! Get a game in, you're guaranteed 100 points right now!
					</div>
				</div>

				<div ng-if="current_tournament.machines.length > 1" class="machine totals panel panel-default" data-machine-id="totals">
					<header>
						<div class="bg-cover">
							<img src="img/damage2.jpg" />
						</div>
						<span class="abbv">=</span>
						<h2>{{ current_tournament.title }} Totals</h2>
					</header>

					<div class="machine-data totals-data">
						<ul class="list-head">
							<li>
								<span class="rank">Rank</span>
								<span class="player">Player</span>
								<span class="score">Points</span>
							</li>
						</ul>
						<ul
							class="list" 
							ng-style="{height: ((current_tournament.totals.scores.length * 36) + 18 + 'px')}"
						>
							<li 
								ng-repeat="score in current_tournament.totals.scores track by score.player_id"
								ng-style="{
									'transform': 'translate(0px,' + (score.order * 36) + 'px)', 
									'-webkit-transform': 'translate(0px,' + (score.order * 36) + 'px)', 
									'z-index': current_tournament.totals.scores.length - score.order
								}" 
								ng-class="{
									'odd': score.order % 2, 
									'not-qualified': score.order >= current_tournament.cutoff,
									'moving': score.moving == true
								}"
								data-index="{{$index}}"
							>
								<span class="pts">{{score.order+1}}</span
								><span class="player">{{score.first_name}} {{score.last_name}}</span
								><span class="score">{{score.score | number:0}}</span>
							</li>

							<li 
								class="cutoff"
								ng-style="{
									'top': (
										current_tournament.totals.scores.length >= current_tournament.cutoff 
											? (36 * current_tournament.cutoff)+'px' 
											: (current_tournament.totals.scores.length * 36)+'px'
									)
								}"
							>
								Qualified Cutoff
							</li>
						</ul>
					</div>
					<div class="repeat-empty text-muted" ng-if="current_tournament.totals.length == 0">
						No scores entered yet
					</div>
				</div>

			</div>

		</article>
	</div>

	<div class="tag">{{url}}</div>

	<div class="loading" ng-show="tournamentTracker.active()" us-spinner="{color:'#555'}"></div>

</div>