<nav id="main-menu" role="navigation">
	<div id="main-menu-inner">
		<div ng-show="listTracker.active()" id="menu-content-demo" class="menu-content top">
			<div>
				<div class="loading" ng-show="listTracker.active()" us-spinner="{color:'#7f8796'}"></div>
			</div>
		</div>
		<section class="tournament" ng-repeat="tournament in tournaments">
			<header>
				<div class="img-bg">
					<div
						ng-repeat="machine in tournament.machines" 
						ng-if="machine.image.length > 0"
					>
						<img ng-src="img/machines/{{machine.image}}" />
					</div>
				</div>
				<h1><a href="" ng-click="jumpToMachine({tournament_id: tournament.id}, 0)" class="tournament-title"><span>{{tournament.title}}</span></a></h1>
			</header>
			<ul class="navigation" ng-hide="listTracker.active()">
				<li 
					ng-repeat="machine in tournament.machines" 
					ng-class="{active: current_tournament.id == tournament.id && $index == current_index}"
				>
					<a href="" ng-click="jumpToMachine(machine, $index)">{{machine.title}}</a>
				</li>
				<li ng-if="tournament.machines.length > 1" ng-class="{current: current_tournament.id == tournament.id && current_index == tournament.machines.length}">
					<a href="" ng-click="jumpToMachine({id: 'total', title:'Totals', tournament_id: tournament.id}, tournament.machines.length)">Totals</a>
				</li>
				<li ng-if="tournament.machines.length == 0" class="repeat-empty text-muted">No machines add to the tournament yet</li>
			</ul>
		</section>
	</div> <!-- / #main-menu-inner -->
</nav> <!-- / #main-menu -->

<div id="content-wrapper">


	<div id="tournament" >

		<!--<div class="loading" ng-show="tournamentTracker.active()" us-spinner="{color:'#555'}"></div>-->
		<div class="loading-bride" ng-show="tournamentTracker.active()">
			<img src="img/loading-bride.gif" />
			<p>loading&hellip;</p>
		</div>


		<article ng-if="current_tournament && !tournamentTracker.active()">

			<header class="page-header">			
				<div class="row">
					<!-- Page header, center on small screens -->
					<h1 class="col-xs-12 text-center text-left-sm"><strong>{{current_tournament.title}}</strong> {{current_index != current_tournament.machines.length ? current_tournament.machines[current_index].title : 'Totals'}}</h1>
				</div>
			</header>

			<slick 
				class="machines"
				infinite="false"
				slides-to-show="4" 
				slides-to-scroll="4"
				current-index = "current_index"
				responsive = "breakpoints"
			>


				<div ng-repeat="machine in current_tournament.machines" class="machine panel panel-default" data-machine-id="{{machine.id}}">
					<header>
						<div class="bg-cover" ng-show="machine.image.length">
							<img ng-src="img/machines/{{machine.image}}" />
						</div>
						<span class="abbv">{{machine.abbv}}</span>
						<h2>{{machine.title}}</h2>
					</header>

					<div class="machine-data" ng-if="machine.scores.length > 0">
						<ul class="list-head">
							<li>
								<span ng-if="current_tournament.machines.length == 1" class="pts">Rank</span>
								<span ng-if="current_tournament.machines.length > 1" class="pts">Pts.</span>
								<span class="player">Player</span>
								<span class="score">Score</span>
							</li>
						</ul>
						<ul
							class="list" 
							ng-style="{height: ((machine.scores.length * 36) + (current_tournament.machines.length == 1 ? 18 : 0) + 'px')}"
						>
							<li 
								ng-repeat="score in machine.scores track by score.player_id"
								ng-style="{
									'transform': 'translate(0px,' + (score.order * 36) + 'px)', 
									'z-index': machine.scores.length - score.order
								}" 
								ng-class="{
									'odd': score.order % 2, 
									'not-qualified': current_tournament.machines.length == 1 && score.order >= current_tournament.cutoff,
									'moving': score.moving == true
								}"
								data-index="{{$index}}"
							>
								<span class="pts">
									<span ng-if="current_tournament.machines.length == 1">{{score.order+1}}</span>
									<span ng-if="current_tournament.machines.length > 1">{{points[score.order]}}</span>
								</span
								><span class="player">{{score.player.first_name}} {{score.player.last_name}}</span
								><span class="score">{{score.score | number:0}}</span>
							</li>

							<li 
								class="cutoff"
								ng-if="current_tournament.machines.length == 1"
								ng-style="{'top': (scores.length >= current_tournament.cutoff ? (36 * current_tournament.cutoff)+'px' : (scores.length * 36)+'px')}"
							>
								Qualified Cutoff
							</li>
						</ul>
					</div>

					<div ng-if="machine.scores.length == 0" class="repeat-empty text-muted">
						Quick! Get a game in, you're guaranteed 100 points right now!
					</div>
				</div>

				<div ng-if="current_tournament.machines.length > 1" class="machine totals panel panel-default" data-machine-id="totals">
					<header>
						<div class="bg-cover">
							<img src="img/damage2.jpg" />
						</div>
						<span class="abbv">=</span>
						<h2>Totals</h2>
					</header>

					<div class="machine-data totals-data">
						<ul class="list-head">
							<li>
								<span class="rank">Rank</span>
								<span class="player">Player</span>
								<span class="score">Points</span>
							</li>
						</ul>
						<ul
							class="list" 
							ng-style="{height: ((current_tournament.totals.scores.length * 36) + 18 + 'px')}"
						>
							<li 
								ng-repeat="score in current_tournament.totals.scores track by score.player_id"
								ng-style="{
									'transform': 'translate(0px,' + (score.order * 36) + 'px)', 
									'z-index': current_tournament.totals.scores.length - score.order
								}" 
								ng-class="{
									'odd': score.order % 2, 
									'not-qualified': score.order >= current_tournament.cutoff,
									'moving': score.moving == true
								}"
								data-index="{{$index}}"
							>
								<span class="pts">{{score.order+1}}</span
								><span class="player">{{score.first_name}} {{score.last_name}}</span
								><span class="score">{{score.score | number:0}}</span>
							</li>

							<li 
								class="cutoff"
								ng-style="{
									'top': (
										current_tournament.totals.scores.length >= current_tournament.cutoff 
											? (36 * current_tournament.cutoff)+'px' 
											: (current_tournament.totals.scores.length * 36)+'px'
									)
								}"
							>
								Qualified Cutoff
							</li>
						</ul>
					</div>
					<div class="repeat-empty text-muted" ng-if="current_tournament.totals.length == 0">
						No scores entered yet
					</div>
				</div>


			</slick>

		</article>
	</div>

</div>