<div class="modal-container">
	<header class="modal-header">
		<button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
		<h4 class="modal-title">{{title}}</h4>
	</header>

	<form name="add-edit" class="form" role="form" ng-submit="save()">

		<section class="modal-body">

			<div class="form-group">
				<label for="abbv">Abbreviation</label>
				<input type="text" class="form-control" id="abbv" placeholder="Abbv." required ng-model="machine.abbv" />
			</div>

			<div class="form-group">
				<label for="title">Title</label>
				<input type="text" class="form-control" id="title" placeholder="Title" required ng-model="machine.title" />
			</div>

			<div class="form-group">
				<label for="tournament">Tournament</label>
				<select class="form-control" id="tournament" required 
					ng-model="machine.tournament_id"
					ng-options="tournament.id as tournament.title for tournament in tournaments"
				></select>
			</div>

			<div class="form-group">
				<label for="image">Image</label>
				<img ng-show="machine.image" ng-src="img/machines/{{machine.image}}" />
				<input type="text" class="form-control" id="image" placeholder="URL to image" ng-model="machine.image" />
				<p class="help-block">(optional)</p>
			</div>

		</section>

		<footer class="modal-footer">
			<button type="submit" class="btn btn-lg btn-success btn-flat btn-labeled">
				<span class="btn-label icon fa fa-save"></span>
				<span
					ng-show="saving.active()" 
					us-spinner="{
						color:'#fff',
						lines: 7,
						length: 3,
						width: 4,
						radius: 5
					}"
				>&nbsp;</span>
				<span ng-show="!saving.active()">Save</span>
			</button>
			<button type="button" class="btn btn-lg btn-default btn-flat btn-labeled" ng-click="cancel()"><span class="btn-label icon fa fa-ban"></span>Cancel</button>
		</footer>

	</form>
</div>